body {
    background-color: #000747; /* Misty Rose */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .container {
    background-color: #87CEFA; /* Light Sky Blue */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin: 20px auto;
  }
  
  
  
  h1 {
    font-size: 24px;
    color: #333;
  }
  
  p {
    font-size: 16px;
    color: #777;
    margin-top: 10px;
  }
  
  input[type="number"] {
    padding: 5px;
    font-size: 16px;
    width: 80%;
    margin-top: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p#message {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
  }
  